body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}



.container {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
    border: none;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-title {
    font-weight: bold;
}รง

 /* Cambia el fondo del navbar a oscuro y el color del texto a blanco */
 .navbar-dark .navbar-nav .nav-link {
    color: white;
}